.navbar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  padding-top: 3em;
}

.navbar a {
  padding: 0.5em;
  margin: 0;
  font-size: 1.5em;
  font-weight: 550;
  letter-spacing: -1.5%;
  text-decoration: none;
  color: black;
}

.navbar a.active {
  background-color: rgba(184, 184, 184, 0.3);
}

.nav-rounded-button {
  color: white;
  background-color: #FF5252;
  border: none;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 550;
  letter-spacing: -1.5%;
  margin-top: auto;
  cursor: pointer;
}
